<ion-view cache-view="false" view-title="{{'forgotPassword' | translate}}">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <button class="button back-button buttons button-clear header-item" ui-sref="app.login"><i class="icon ion-android-arrow-back"></i></button>
    </div>
    <h1 class="title">{{'forgotPassword' | translate}}</h1>
  </ion-header-bar>
  <ion-content class="padding" id="forgotPasswordPage">
    <div class="list formList">
     <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && forgotPassword()">
      <label class="item item-input item-icon-left"
      ng-class="{ 'has-error' : (forgotPasswordForm.emailPhone.$error.required || forgotPasswordForm.emailPhone.$error.pattern) && (forgotPasswordForm.emailPhone.$dirty || submitted), 'valid' : forgotPasswordForm.emailPhone.$valid && (forgotPasswordForm.emailPhone.$dirty || submitted)}"
      ><i class="icon mdi mdi-lock"></i>
        <input type="text"
                    placeholder="{{'emailAddress' | translate}}"
                    name="emailPhone"
                    ng-model="forgotPassword.email"
               ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                    required>
      </label>
     <button class="button button-block button-assertive" type="submit" ng-click="submitted=true">{{'send' | translate}}</button>
     </form>
     <p>{{'dontWorryJustFillInYourEmailAndWeWillHelpYouResetYourPassword' | translate}}</p>
    </div>
  </ion-content>
</ion-view>
